.dropdown-login input[type="text"], .dropdown-login input[type="password"] {
	height: 30px;
	font-size: 12px;
	line-height: 14px;
}

.dropdown-user input[type="submit"] {
	height: 30px;
	font-size: 14px;
	padding-top: 5px;
}

.dropdown-user {
	padding: 20px 15px 20px 15px;
}

.dropdown-user span {
	padding: 3px 0px;
}